@import url();
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}
/* *{
    margin: 0 auto;
    padding: 0;
} */

body{
    display: grid;
    place-items: center;
    font-family: Montserrat;
    background-color: rgb(68, 50, 22)
}
#main{
    background-image: url("bg-img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    width: 60vw;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 7vh;
    /* border: 1px solid black; */
}

header{
    text-align: center;
}

#img-div{
    display: grid;
    place-items: center;
    margin-top: 5px;
}


#img-div img{
    max-width: 100%;
    height: auto;
}

#tribute-info{
    width: 75%;
}
#tribute-info h3{
    margin-bottom: 0;
}
#tribute-info p{
    margin-top: 5px;
    text-align: left;
}
